# ------------------
# Data & Log Files
# ------------------
tips.json
*.log

# ------------------
# Python Specific
# ------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Optional: Virtual Environment folder
# venv/
# .venv/

# ------------------
# OS Specific
# ------------------
# macOS
.DS_Store

# Windows
# Thumbs.db